<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Стилизованный чекбокс/радио | Пример</title>
</head>
<body>

    <!-- Стилизованный checkbox -->
    <label class="custom-checkbox">
        <input type="checkbox" checked>
        <span>Checkbox #1</span>
    </label>
    
    <br>

    <!-- Стилизованный radio v1 -->
    <div class="custom-radio">
        <input id="radio-1" type="radio" name="radio" value="1" checked>
        <label for="radio-1">Radio button 1</label>
    </div>
    <div class="custom-radio">
        <input id="radio-2" type="radio" name="radio" value="1" checked>
        <label for="radio-2">Radio button 2</label>
    </div>

    <br>

    <!-- Стилизованный radio v2 -->
    <div class="toggle toggle--1">
        <input id="damage-1" type="radio" name="damage" value="no" checked>
        <label for="damage-1">Да</label>
    </div>
    <div class="toggle toggle--1">
        <input id="damage-2" type="radio" name="damage" value="brakes">
        <label for="damage-2">Нет</label>
    </div>
</body>
</html>