.catalog-main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__head {
        &-title {
            font-weight: 700;
            color: var(--secondary-color);
        }
    }

    &__filter {

        &--main {
            @media(max-width: $breakpoint1024) {
                margin-top: 0;
                width: 95%;
                display: none;
    
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                max-width: 100%;
            }
            &.open {
                display: block;
                z-index: 14;
            }
        }
        &--repair {
            & .filter__group-btn {
                flex-direction: row;
    
                & .filter__btn {
                    @media(max-width: $breakpoint480) {
                        padding: 10px;
                    }
                }
            }
    
            & .filter__wrapper {
                @media(max-width: $breakpoint1024) {
                    align-items: center;
                }
            }
            & .filter-category {
                @media(max-width: $breakpoint600) {
                    flex-direction: column;
                }
            }
            & .filter-category-checkbox {
                @media(max-width: $breakpoint600) {
                    margin-top: 0;
                }
            }
        }
    }
    &__wrapper {
        
    }
    &__top {
        
    }
    &__inner {
        margin-top: 60px;
        display: flex;
        flex-direction: column;

        @media(max-width: $breakpoint768) {
            margin: 20px auto 0 auto;
        }
        // @media(max-width: $breakpoint660) {
        //     max-width: 275px;
        // } 
    }
    &__bottom {
        margin-top: 48px;

        @media(max-width: $breakpoint768) {
            margin-top: 24px;
        }
    }
}

.catalog-main-list {

    &__wrapper {
        display: grid;

        &--col {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
            row-gap: 36px;
    
            @media (max-width: $breakpoint1024) {
                grid-template-columns: repeat(2, 1fr);
            }
    
            @media (max-width: $breakpoint600) {
                grid-template-columns: 1fr;
            }
        }
        &--row {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }
    &__item {
        
    }
}

.catalog-main-sections {
    margin-top: 48px;

    @media(max-width: $breakpoint768) {
        margin-top: 0;
    }

    &__wrapper {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        // gap: 20px;
    }

    &__bottom {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        &:has(.swiper-button-lock) {
            display: none;
        }
    }
    & .section-card {
        padding: 12px 0 14px;

        &__image {
            height: 146px;
        }
    }
}

.section-swiper {
    padding: 16px !important;
    margin: -16px !important;
}