.catalog-main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__head {
        &-title {
            font-weight: 700;
            color: var(--secondary-color);
        }
    }

    &__filter {
        @media(max-width: $breakpoint992) {
            margin-top: 0;

            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            max-width: 100%;
        }
        &.open {
            display: block;
            z-index: 9;
        }
    }
    &__wrapper {
        
    }
    &__top {
        
    }
    &__inner {
        margin-top: 60px;
        display: flex;
        flex-direction: column;

        @media(max-width: $breakpoint768) {
            margin: 20px auto 0 auto;
        }
        // @media(max-width: $breakpoint660) {
        //     max-width: 275px;
        // } 
    }
    &__bottom {
        margin-top: 48px;

        @media(max-width: $breakpoint768) {
            margin-top: 24px;
        }
    }
}

.catalog-main-list {

    &__wrapper {
        display: grid;

        &--col {
            grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
            gap: 20px;

            @media(max-width: $breakpoint768) {
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            } 
        }
        &--row {
            grid-template-columns: 1fr;
            gap: 18px;
        }
    }
    &__item {
        container: card / inline-size;

        & .products-card {
            padding: 8px 24px 28px 24px;

            @media(max-width: $breakpoint768) {
                padding: 8px 10px 28px 8px;
            }
        }
    }
}

.catalog-main-sections {
    margin-top: 48px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 20px;
    }

    & .section-card {
        padding: 12px 0 14px;

        &__image {
            max-height: 146px;
        }
    }
}