.contacts {
    margin-top: 20px;
    
    &__wrapper {
        display: flex;
        gap: 20px;

        @media(max-width: $breakpoint992) {
            flex-direction: column;
        }
    }

    &__info {
        width: 520px;
        flex-shrink: 0;

        padding: 48px 36px;
        border-radius: 6px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
        background: #f1f1f1;

        @media(max-width: $breakpoint992) {
            padding: 28px;
            width: 100%;
        }
        @media(max-width: $breakpoint480) {
            padding: 18px 16px;
        }

        &-wrapper {
            @media(max-width: $breakpoint992) {
                margin: 0 auto;
                max-width: 450px;
            }
        }

        &-title {
            font-weight: 700;
            font-size: 1.25rem;
            text-transform: uppercase;
            color: var(--main-color);

            @media(max-width: $breakpoint480) {
                font-size: 1rem;
            }
        }
        &-list {
            margin-top: 22px;

            display: flex;
            flex-direction: column;
            gap: 20px;

            @media(max-width: $breakpoint480) {
                margin-top: 16px;
            }

            &-item {
                display: flex;
                flex-direction: column;
                gap: 10px;

                &-title {
                    font-weight: 700;
                    font-size: 1.25rem;
                    color: var(--secondary-color);

                    @media(max-width: $breakpoint480) {
                        font-size: 1rem;
                    }
                }
                &-value {
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 150%;
                    color: var(--secondary-color);

                    @media(max-width: $breakpoint480) {
                        font-size: 0.875rem;
                    }

                    &:not(p) {
                        &:hover {
                            color: var(--main-color);
                        }
                    }
                }

                &-list {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px;
                }
            }
        }
    }

    &__map {
        width: 100%;

        @media(max-width: $breakpoint992) {
            height: 540px;
        }
        @media(max-width: $breakpoint480) {
            height: 300px;
        }

        & iframe {
            height: 100%;
            width: 100%;
            border-radius: 6px;
        }
    }
}