.custom-radio {

    & input[type=radio] {
        display: none;

        &:checked + label:before {
            background: url(../assets/img/icons/radio-2.png) 0 0 no-repeat;
        }
        &:disabled + label:before {
            filter: grayscale(100%);
        }
    }

    & label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 0;
        line-height: 20px;
        user-select: none;

        &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            bottom: 1px;
            background: url(../assets/img/icons/radio-1.png) 0 0 no-repeat;
        }
        &:hover {
            &::before {
                filter: brightness(120%);
            }
        }
    }
}
