.delivery-info {
    margin-top: 48px;
    
    border-radius: 6px;
    padding: 20px 36px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    background: #fff;

    @media(max-width: $breakpoint768) {
        margin-top: 20px;
    }
    @media(max-width: $breakpoint480) {
        margin-top: 16px;
    }

    @media(max-width: $breakpoint768) {
        padding: 20px;
    }

    &__wrapper {
        display: flex;
        gap: 64px;

        @media(max-width: $breakpoint1280) {
            gap: 40px;
        }
        @media(max-width: $breakpoint768) {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__left {
        max-width: 800px;
        width: 100%;

        &-list {

            & li {
                position: relative;
                padding-left: 28px;

                font-weight: 600;
                font-size: 1.25rem;
                color: var(--secondary-color);
    
                display: flex;
                align-items: center;
                gap: 10px;
                
                @media(max-width: $breakpoint768) {
                    font-size: 1rem;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 11px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 6px;
                    height: 6px;
                    background: var(--secondary-color);
                    border-radius: 50%;
                    flex-shrink: 0;
                }
            }
        }
    }

    &__right {
        width: 520px;
        flex-shrink: 0;

        @media(max-width: $breakpoint1280) {
            width: 270px;
        }

        & h3 {
            font-weight: 600;
            font-size: 1.5rem;
            color: var(--secondary-color);

            @media(max-width: $breakpoint768) {
                font-size: 1.25rem;
            }
        }

        &-wrapper {
            margin-top: 12px;

            display: flex;
            gap: 48px;

            @media(max-width: $breakpoint1280) {
                flex-direction: column;
                gap: 24px;
            }
            @media(max-width: $breakpoint768) {
                gap: 16px;
            }

            &-item {
                display: flex;
                align-items: center;
                gap: 16px;

                & p {
                    font-weight: 600;
                    font-size: 1.25rem;
                    line-height: 120%;
                    color: #323232;

                    @media(max-width: $breakpoint768) {
                        font-size: 1rem;
                    }
                }

                &-img {
                    @media(max-width: $breakpoint768) {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}