.filter-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__btn {
        display: none;
        
        padding: 6px 12px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
        background: #f1f1f1;
        border-radius: 4px;

        @media(max-width: $breakpoint1024) {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        @media(max-width: $breakpoint768) {
            padding: 4px 12px;
        }
        @media(max-width: $breakpoint600) {
            padding: 4px;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            
            height: 32px;
            width: 32px;
            
            @media(max-width: $breakpoint768) {
                height: 32px;
                width: 32px;
            }
        }
        &-text {
            @media(max-width: $breakpoint600) {
                display: none;
            }

            & span {
                font-weight: 600;
                font-size: 1.25rem;
                color: var(--secondary-color);

                @media(max-width: $breakpoint768) {
                    font-size: 1rem;
                }
            }
        }
    }

    &__right {
        margin-left: auto;

        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__sort {
        font-weight: 600;
        font-size: 1.25rem;
        color: var(--secondary-color);

        width: 330px;
        height: 44px;
        border-radius: 4px;
        padding: 10px 20px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
        background: #f1f1f1;

        cursor: pointer;

        appearance: none;
        background-image: url("../assets/img/icons/select-arrow.svg");
        background-repeat: no-repeat;
        background-position: 90% center;

        @media(max-width: $breakpoint768) {
            height: 40px;
            width: 260px;

            padding: 0px 20px;
            font-size: 1rem;
            background-position: 97% center;
            background-size: 8%;
        }
        @media(max-width: $breakpoint375) {
            width: 245px;
        }
    }

    &__view {
        display: flex;
        gap: 10px;

        @media(max-width: $breakpoint1024) {
            display: none;
        }

        &-link {
            width: 44px;
            height: 44px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 4px;
            background: #f1f1f1;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
            transition: box-shadow .3s;

            & svg {
                fill: #979797;
            }

            &:hover {
                box-shadow: none;
            }

            &--active {
                & svg {
                    fill: var(--accent-color-2);
                }
            }
        }
    }
}