.filter {
    border-radius: 6px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    background: #f1f1f1;
    padding: 24px 30px;

    // @media(max-width: $breakpoint992) {
    //     height: 100dvh;
    //     overflow-y: scroll;
    // }
    @media(max-width: $breakpoint1024) {
        padding: 42px 36px;
    }
    @media(max-width: $breakpoint480) {
        padding: 32px 26px;
    }

    &__top {
        &-title {
            font-weight: 700;
            font-size: 1.5rem;
            text-transform: uppercase;
            text-align: center;
            color: var(--secondary-color);

            @media(max-width: $breakpoint480) {
                font-size: 1.25rem;
            }
        }
    }
    &__wrapper {
        margin-top: 16px;

        display: flex;
        align-items: flex-end;
        gap: 20px;

        @media(max-width: $breakpoint1024) {
            margin-top: 36px;
            
            flex-direction: column;
            align-items: flex-start;
            gap: 36px;
        }
        @media(max-width: $breakpoint480) {
            margin-top: 28px;
            gap: 20px;
        }
    }
    &__inner {
        display: flex;
        width: 100%;
    }
    &__group-btn {
        position: relative;
        display: flex;
        flex-direction: column;

        @media(max-width: $breakpoint1024) {
            flex-direction: row-reverse;
        }
        @media(max-width: $breakpoint480) {
            width: 100%;
            flex-direction: column;
        }
    }
    &__btn {
        border-radius: 4px;
        padding: 10px 32px;

        font-weight: 700;
        font-size: 1.25rem;
        color: #fff;
        cursor: pointer;

        transition: all .3s;

        @media(max-width: $breakpoint1280) {
            font-size: 1rem;
        }
        @media(max-width: $breakpoint480) {
            width: 100%;
        }

        &--clear {
            text-decoration: underline;
            color: var(--secondary-color);
            font-weight: 600;
        }
        &--show {
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
            background: var(--main-color);
        }
    }

    &__close {
        display: none;

        @media(max-width: $breakpoint1024) {
            position: absolute;
            top: 24px;
            right: 18px;
            width: 20px;

            display: flex;
        }
        @media(max-width: $breakpoint480) {
            top: 14px;
            right: 12px;
            width: 16px;
        }

        & img {
            pointer-events: none;
        }
    }

    // &--repair {
    //     & .filter__group-btn {
    //         flex-direction: row;

    //         & .filter__btn {
    //             @media(max-width: $breakpoint480) {
    //                 padding: 10px;
    //             }
    //         }
    //     }

    //     & .filter__wrapper {
    //         @media(max-width: $breakpoint1024) {
    //             align-items: center;
    //         }
    //     }
    //     & .filter-category {
    //         @media(max-width: $breakpoint600) {
    //             flex-direction: column;
    //         }
    //     }
    //     .filter-category-checkbox {
    //         @media(max-width: $breakpoint600) {
    //             margin-top: 0;
    //         }
    //     }
    // }
}

.filter-category {
    display: flex;
    gap: 20px;
    width: 100%;

    @media(max-width: $breakpoint1280) {
        gap: 16px;
    }
    @media(max-width: $breakpoint1024) {
        gap: 20px;
        flex-wrap: wrap;
    }
    @media(max-width: $breakpoint480) {
        flex-direction: column;
    }

    &__list {
        flex-grow: 1;
        min-width: 215px;
    }
    &__top {
        margin-bottom: 10px;

        @media(max-width: $breakpoint1280) {
            margin-bottom: 4px;
        }

        & span {
            font-weight: 600;
            font-size: 1rem;
            color: var(--secondary-color);

            @media(max-width: $breakpoint1280) {
                font-size: 0.875rem;
            }
        }
    }
    &__icon {
        display: flex;
        pointer-events: none;
        transition: all .3s;

    }
    &__description {
        margin-top: 10px;
        gap: 20px;

        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: all .3s;
        min-height: 0;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & span {
            font-weight: 700;
            font-size: 1rem;
            line-height: 130%;
            color: var(--secondary-color);
        }

        &:not(:has(input:checked)) {
            & span {
                color: $main-text;
            }
        }
        &:not(:has(input[data-radio="on"]:checked)) {
            & span {
                color: $main-text;
            }
        }
    }
    &__more {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 130%;
        color: var(--secondary-color);
        cursor: pointer;
    }
}

.filter-category-select {
    position: relative;

    &.open &__trigger svg {
        transform: rotate(180deg);
    }
    &.open {
        & .filter-category-select__trigger {
            z-index: 4;
        }
    }

    &__trigger svg {
        flex-shrink: 0;
        transition: transform 0.2s ease;
    }

    &__trigger {
        position: relative;

        border: 1px solid #979797;
        border-radius: 4px;
        padding: 12px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;

        @media(max-width: $breakpoint1280) {
            padding: 10px 12px;
        }
    }
    &__title {
        font-weight: 400;
        font-size: 1rem;
        color: var(--secondary-color);

        // width: 90%;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media(max-width: $breakpoint1280) {
            font-size: 0.875rem;
        }
    }
    &__description {
        opacity: 0;
        pointer-events: none;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
        background: #fff;

        border-radius: 4px;
        padding: 56px 0 12px 0;
        z-index: 3;

        @media(max-width: $breakpoint1280) {
            padding: 44px 0 12px 0;
        }

        &-option {
            padding: 12px;
            cursor: pointer;
        }

        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.filter-category-checkbox {
    margin-top: 30px;
}

.filter-properties {
    display: flex;
    flex-direction: column;

    min-height: 0;
    
    &__list {
        padding: 8px 12px;
        cursor: pointer;

        font-weight: 600;
        font-size: 1.25rem;
        color: var(--secondary-color);

        @media(max-width: $breakpoint1280) {
            font-size: 1rem;
        }

        &:hover {
            background: var(--accent-color);
        }

        &.active {
            background: var(--accent-color);
        }
    }
}

.bx-filter-popup-result {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    position: absolute;
    // bottom: 0;
    top: calc(100% + 10px);

    & a {
        color: var(--main-color);
    }
}

.smartfilter {
    width: 100%;
}

// overlay
body:has(.catalog-main__filter.open)::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100dvh;
    z-index: 13;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    pointer-events: auto;

    @media(min-width: 1025px) {
        display: none;
    }
}