.mobile-menu {
    display: none;

    position: absolute;
    z-index: 3;

    top: 100%;
    left: 0;
    right: 0;

    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0 0 16px 16px;
    background: #fff;
    padding: 34px 32px 70px;

    @media(min-width: 1025px) {
        display: none !important;
    }

    &.open {
        display: block;
    }

    @media(max-width: $breakpoint600) {
        border-radius: 0 0 12px 12px;
        padding: 16px 16px 20px 16px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 34px;

        @media(max-width: $breakpoint600) {
            gap: 32px;
        }
    }
    &__sections {

        &-top {
            display: flex;
            justify-content: center;
        }
        &-title {
            font-weight: 700;
            font-size: 1.5rem;
            text-align: center;
            color: var(--main-color);
        }
        &-wrapper--md {
            margin-top: 22px;

            @media(max-width: $breakpoint600) {
                display: none;
            }
        }
        &-wrapper--xs {
            margin-top: 20px;

            display: none;
            @media(max-width: $breakpoint600) {
                display: block;
            }
        }
    }
    &__subsections {
        @media(max-width: $breakpoint600) {
            display: none;
        }

        &-wrapper-main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;

            @media(max-width: $breakpoint768) {
                grid-template-columns: repeat(2, 1fr);
            }

            & .section-card {
                &__image {
                    max-height: 120px;
                }
            }

            &-item {
                
                &:last-child {
                    @media(max-width: $breakpoint768) {
                        grid-column: span 2;
                    }
                }
            }
        }

        &-wrapper-secondary {
            max-width: 650px;
            margin: 0 auto;
    
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 34px;
        }
        &-secondary-link {
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 81%;
            color: var(--secondary-color);
        }
    }
}

.mobile-menu-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;

    @media(max-width: $breakpoint600) {
        column-gap: 28px;
    }

    &__link {
        font-weight: 600;
        font-size: 1.25rem;
        color: var(--secondary-color);

        @media(max-width: $breakpoint600) {
            font-size: 1rem;
        }

        &--active {
            color: var(--main-color);
        }
    }
}

.mobile-menu-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 20px;

    &__trigger {
        position: relative;

        font-weight: 500;
        font-size: 1.5rem;
        line-height: 92%;
        color: #8a8a8a;

        &.active {
            color: var(--secondary-color);

            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                bottom: -6px;
                left: 0;
                background: var(--secondary-color);
            }
        }
    }
}

.mobile-menu-section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media(max-width: $breakpoint480) {
        gap: 16px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &.open {
            & .mobile-menu-section-list__trigger {
                position: relative;
                color: var(--secondary-color);

                &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    bottom: -6px;
                    left: 0;
                    background: var(--secondary-color);
                }
            }
            & .mobile-menu-section-list__content {
                grid-template-rows: 1fr;
            }
            & .mobile-menu-section-list__content-wrapper {
                padding-top: 20px;
            }
        }
    }

    &__trigger {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 110%;
        color: rgba(64, 64, 64, 0.6);

        @media(max-width: $breakpoint480) {
            font-size: 1rem;
        }
    }

    &__content {
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 0.3s ease-in-out;

        &-wrapper {
            min-height: 0;

            display: flex;
            flex-direction: column;
            transition: padding-top 0.3s ease-in-out;
        }
        &-link {
            font-weight: 500;
            font-size: 1rem;
            line-height: 194%;
            text-align: center;
            color: var(--secondary-color);

            @media(max-width: $breakpoint480) {
                font-size: 0.875rem;
            }
        }
    }
}