.modal-form {
    $modal-width: 640px;
    $modal-height: auto;

    &__body {
        height: $modal-height;
        max-width: $modal-width;
        width: 100%;

        @media(max-width: calc($modal-width + 20px)) {
            max-width: 98vw;
        }
    }
    &__wrapper {
        position: relative;

        padding: 100px 80px 36px 80px;

        @media(max-width: $breakpoint768) { 
            padding: 72px 56px;
        }
        @media(max-width: $breakpoint480) { 
            padding: 82px 12px 32px 12px;
        }
        @media(max-width: $breakpoint375) { 
            padding: 52px 12px 40px;
        }
    }
    &__close {
        display: flex;
        position: absolute;
        top: 50px;
        right: 44px;
    
        @media(max-width: $breakpoint768) {
            width: 28px;
            top: 40px;
            right: 32px;
        }
        @media(max-width: $breakpoint480) {
            width: 22px;
            top: 32px;
            right: 16px;
        }
        @media(max-width: $breakpoint375) {
            width: 16px;
            top: 20px;
        }
    }
}

.modal-form-block {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;

    &__title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 133%;
        text-transform: uppercase;
        text-align: center;
        color: var(--secondary-color);

        @media(max-width: $breakpoint480) {
            font-size: 1.25rem;
        }
        @media(max-width: $breakpoint375) {
            font-size: 1rem;
        }
    }
    &__top {
        max-width: 600px;
        width: 100%;
    }
}