.policy {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media(max-width: $breakpoint768) {
            gap: 24px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 150% !important;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 1rem;
        line-height: 150%;

        @media(max-width: $breakpoint768) {
            font-size: 0.875rem;
        }
    }

    &__text {
        margin-top: 12px;
        font-weight: 500;
        font-size: 1rem;
        line-height: 150%;

        @media(max-width: $breakpoint768) {
            margin-top: 8px;
            font-size: 0.875rem;
        }
    }

    &__item a {
        color: var(--accent-color-2);
    }
}