:root {
    --main-color: #009FD9;
    --accent-color: #E6F8FF;
    --secondary-color: #404040;
    --main-text: #3A3737;
    --accent-color-2: #ff4616;
}
 
// color
$main-color: #009FD9;
$accent-color: #E6F8FF;
$secondary-color: #404040; 
$main-text: #3A3737;

// breakpoint 
$breakpoint1440: 1440 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint992: 992 + px;
$breakpoint768: 768 + px;
$breakpoint600: 600 + px;
$breakpoint480: 480 + px;
$breakpoint375: 375 + px;

// font-family
$font-family: 'Montserrat', sans-serif;

// border-radius
$main-radius: 35px;

// container
$container-width: 1440px;
$section-top: 100px;
$padding-md: 24px;
$padding-sm: 16px;
