// color
$main-color: #548235;
$accent-color: #D4E1BD;
$secondary-color: #11332A; 
$main-text: #3A3737;

// breakpoint 
$breakpoint1440: 1440 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
$breakpoint480: 480 + px;
$breakpoint375: 375 + px;

// font-family
$font-family: '';

// border-radius
$main-radius: 35px;

// container
$container-width: 1440px;
$section-top: 100px;
$padding-md: 24px;
$padding-sm: 16px;
